.landing {
    display: flex;
}

.boxB {
    position: absolute;
    width: 408px;
    height: 524px;
    left: 513px;
    top: 329px;

    background: #F8884C;
    border-radius: 12px;
}

div {
    flex-flow: column wrap;
    justify-content: center;

}

.landing {
    background-color: #1E1E1E;
    width: 100rem;
    height: 100rem;
    filter: brightness(150%);
}

.boxA {
    position: absolute;
    width: 670px;
    height: 787px;
    left: 384px;
    top: 175px;

    background: #8AC926;
    border-radius: 12px;
}