.navbar {

    color: white;

}

li {
    display: inline;
    flex-direction: row;
    list-style-type: none;
    float: right;
    justify-content: space-evenly;
}

h3 {
    display: inline;
    float: inline-start;
    font-size: xx-large;
}

div {
    display: inline;
    color: white;
}

nav {
    background-color: #120B16;
    display: flex;
    justify-content: space-between;
}